<template>
  <div class="about">
    <h1>Pagina de peliculas contactar con el desarrollador</h1>
    <card-list></card-list>
  </div>
</template>

<script>
import CardList from "../components/CardList";
export default {
  components: {
    CardList
  }
};
</script>
