<template>
  <div class="home">
    <h1>Peliculas</h1>
    <pre>{{info}}</pre>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "home",
  components: {},
  data() {
    return {
      info: []
    };
  },

  mounted() {
    axios
      .get(
        "https://api.themoviedb.org/3/movie/550?api_key=86b56809a145f42bc33d59659f0d70c9"
      )
      .then(response => (this.info = response))
      .catch(e => {
        this.errors.push(e);
      });
  }
};
</script>
