<template>
  <div>
    <h1>Usuarios</h1>
    <ul>
      <li v-for="usuario in usuarios" :key="usuario.id">
        {{usuario.name }} | {{usuario.rating}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "usuarios",
  data() {
    return {
      usuarios: [
        { name: "Armando", rating: 5 },
        { name: "Lucas", rating: 3 },
        { name: "Monica", rating: 4 }
      ]
    };
  }
};
</script>

<style  scoped>
ul {
  list-style: none;
  text-align: left;
}
</style>