<template>
  <div class="card-list">

    <div class="card" v-for="item in cards" :key="index">
      
      <div class="card-titulo">
        {{ item }}
      </div>

      <div class="card-imagen">

      </div>

      <div class="card-descripcion">
      </div>
        
    </div>
  </div>
</template>

<script>
export default {
  name: "card-list",
  data() {
    return {
      cards: [1, 2, 3, 4, 5]
    };
  }
};
</script>

<style  scoped>
.card-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 5px rgba(170, 136, 136, 0.25),
    -5px -5px 30px 5px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card-imagen {
  width: inherit;
  height: inherit;
}

.card .card-imagen img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card-titulo {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  height: 40px;
}

.card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 30px 10px rgba(158, 115, 115, 0.25),
    -5px -5px 30px 10px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}
</style>