<template>
  <nav class="menu">
      <ul>
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <span>|</span>
        <li>
          <router-link to="/about">About</router-link>
        </li>

        <span>|</span>
        <li>
          <router-link to="/usuarios">Usuarios</router-link>
        </li>

        <!-- <li>
          <router-link></router-link>
        </li> -->
      </ul>
  </nav>
</template>

<script>
export default {
  name: "menu"
};
</script>

<style scoped>
nav {
  padding: 30px;
  display: flex;
  list-style: none;
}

nav ul {
  list-style: none;
  margin: 0 auto;
  display: flex;
}

nav a {
  padding: 10px;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

nav a.router-link-exact-active {
  color: #42b983;
}

nav a:hover {
  background-color: whitesmoke;
}
</style>